.Home5-main {
  font-family: "Roboto Slab", serif;
  margin: 25px;
  
}

.Home5-main h2 {
  text-align: center;
  font-size: 35px;
}

.Home5-main p {
  text-align: center;
}

.boxx {
  margin-top: 20px;
}

.boxx .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.boxx .row.alternate {
  flex-direction: row-reverse;
}

.left, .right {
  flex: 1;
}

.left, .rightalt {
  /* border: 2px solid red; */
  background-color: #f9f9f9;
  margin-right: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.rightalt {
  margin-left: 20px;
}

.leftalt img, .right img ,.left img{
  width: 40%;
  height: auto;
}

.leftalt, .rightalt {
  flex: 1;
}

.leftalt {
  margin-right: 20px;
  text-align: center;
}
.left p,.rightalt p
{
  color: gray;
  font-size: 15px;
}